@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Local fonts  */
  @font-face {
    font-family: "Outfit";
    src:
      url("../fonts/Outfit-Bold.woff2") format("woff2"),
      url("../fonts/Outfit-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Outfit";
    src:
      url("../fonts/Outfit-Medium.woff2") format("woff2"),
      url("../fonts/Outfit-Medium.woff") format("woff");
    font-weight: medium;
    font-style: normal;
    font-display: swap;
  }

  /* Change color icon  */
  .my-input-x:checked ~ .my-label-x > .my-svg-x {
    color: #1a2a33;
  }

  .my-input-o:checked ~ .my-label-o > .my-svg-o {
    color: #1a2a33;
  }
}
